body {
    background-color: #f6f6f6;
}

.index-title {
    height: 60px;
    width: 250px;
    transition: width 0.5S;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    background-color: #393D49;
    color: white
}

.index-icon {
    width: 100px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}

.index-main {
    display: flex;
    height: calc(100vh - 60px);
}
iframe{
    flex: 1;
    padding: 20px 0 0 20px ;
    height: calc(100% - 40px);
}
.main-footer{
    position: absolute;
    bottom: 0;
    left: 250px;
    transition: left 0.5S;
}
.layuiadmin-card-header-auto {
    padding-top: 15px;
    padding-bottom: 15px;
}
.refresh{
    width: 50px;
    color: white; 
    position: absolute; 
    right: 120px;
    background-color: #393D49;
    border-radius:10px;
    text-align: center;
}
.return{
    width:50px;
    color: white; 
    position: absolute; 
    right: 50px;
    background-color: #009688;
    border-radius:10px;
    text-align: center;
}
.servertable{
    padding: 10px;
    background-color: white;
}
.server-detail{
    background-color: white;
}
.server-ip{
    height: 40px;
    background-color: #009688;
    font-size: 15px;
    color: white;
    padding-left: 20px;
    line-height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.server-msg div{
    margin:10px 0;
}
.server-msg{
    padding-left: 40px;
}
.server-detail p{
    padding-left: 10px;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 10px;
}
.layerselect{
    padding: 20px;
}
.history{
    background-color: #f6f6f6;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.online{
    width: 40px;
    border-radius: 3px;
    background-color: #009688;
    text-align: center;
    color: white;

}
.offline{
    width: 40px;
    border-radius: 3px;
    background-color: #ff5722;
    text-align: center;
    color: white;

}

.do{
    width: 80px;
    border-radius: 3px;
    background-color: #009688;
    text-align: center;
    color: white;

}
.undo{
    width: 80px;
    border-radius: 3px;
    background-color: #ff5722;
    text-align: center;
    color: white;

}


.state1{
    width: 100px;
    border-radius: 3px;
    background-color: #ff5722;
    text-align: center;
    color: white;
}
.state2{
    width: 100px;
    border-radius: 3px;
    background-color: #FFB800;
    text-align: center;
    color: white;
}
.state3{
    width: 100px;
    border-radius: 3px;
    background-color: #009688;
    text-align: center;
    color: white;
}
.state4{
    width: 100px;
    border-radius: 3px;
    background-color: gray;
    text-align: center;
    color: white;
}